<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>78047C5B-B34F-4F0E-9C92-9BD1482D9144</string>
	<key>com.schriftgestaltung.useNiceNames</key>
	<integer>1</integer>
	<key>com.schriftgestaltung.weight</key>
	<string>Bold</string>
	<key>com.schriftgestaltung.weightValue</key>
	<real>229</real>
	<key>public.glyphOrder</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Abreveacute</string>
		<string>Abrevedotbelow</string>
		<string>Abrevegrave</string>
		<string>Abrevehookabove</string>
		<string>Abrevetilde</string>
		<string>Acircumflex</string>
		<string>Acircumflexacute</string>
		<string>Acircumflexdotbelow</string>
		<string>Acircumflexgrave</string>
		<string>Acircumflexhookabove</string>
		<string>Acircumflextilde</string>
		<string>Adieresis</string>
		<string>Adotbelow</string>
		<string>Agrave</string>
		<string>Ahookabove</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Aringacute</string>
		<string>Atilde</string>
		<string>AE</string>
		<string>AEacute</string>
		<string>B</string>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>D</string>
		<string>DZ</string>
		<string>DZcaron</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>Ddotbelow</string>
		<string>Dz</string>
		<string>Dzcaron</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Ecircumflexacute</string>
		<string>Ecircumflexdotbelow</string>
		<string>Ecircumflexgrave</string>
		<string>Ecircumflexhookabove</string>
		<string>Ecircumflextilde</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Edotbelow</string>
		<string>Egrave</string>
		<string>Ehookabove</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>Etilde</string>
		<string>F</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcircumflex</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
		<string>H</string>
		<string>Hbar</string>
		<string>Hcircumflex</string>
		<string>Hdotbelow</string>
		<string>I</string>
		<string>IJ</string>
		<string>Iacute</string>
		<string>Ibreve</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Idotbelow</string>
		<string>Igrave</string>
		<string>Ihookabove</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
		<string>J</string>
		<string>Jcircumflex</string>
		<string>K</string>
		<string>Kcommaaccent</string>
		<string>L</string>
		<string>LJ</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>Ldot</string>
		<string>Lj</string>
		<string>Lslash</string>
		<string>M</string>
		<string>N</string>
		<string>NJ</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Ndotaccent</string>
		<string>Eng</string>
		<string>Nj</string>
		<string>Ntilde</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Obreve</string>
		<string>Ocircumflex</string>
		<string>Ocircumflexacute</string>
		<string>Ocircumflexdotbelow</string>
		<string>Ocircumflexgrave</string>
		<string>Ocircumflexhookabove</string>
		<string>Ocircumflextilde</string>
		<string>Odieresis</string>
		<string>Odotbelow</string>
		<string>Ograve</string>
		<string>Ohookabove</string>
		<string>Ohorn</string>
		<string>Ohornacute</string>
		<string>Ohorndotbelow</string>
		<string>Ohorngrave</string>
		<string>Ohornhookabove</string>
		<string>Ohorntilde</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oogonek</string>
		<string>Oslash</string>
		<string>Oslashacute</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>P</string>
		<string>Thorn</string>
		<string>Q</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>Rdotbelow</string>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
		<string>Scommaaccent</string>
		<string>Sdotbelow</string>
		<string>Germandbls</string>
		<string>Schwa</string>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>Tcedilla</string>
		<string>Tcommaaccent</string>
		<string>Tdotbelow</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Udotbelow</string>
		<string>Ugrave</string>
		<string>Uhookabove</string>
		<string>Uhorn</string>
		<string>Uhornacute</string>
		<string>Uhorndotbelow</string>
		<string>Uhorngrave</string>
		<string>Uhornhookabove</string>
		<string>Uhorntilde</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
		<string>V</string>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ydotbelow</string>
		<string>Ygrave</string>
		<string>Yhookabove</string>
		<string>Ytilde</string>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>Zdotbelow</string>
		<string>Iacute_J.loclNLD</string>
		<string>Y.loclGUA</string>
		<string>Yacute.loclGUA</string>
		<string>Ycircumflex.loclGUA</string>
		<string>Ydieresis.loclGUA</string>
		<string>Ydotbelow.loclGUA</string>
		<string>Ygrave.loclGUA</string>
		<string>Yhookabove.loclGUA</string>
		<string>Ytilde.loclGUA</string>
		<string>Cacute.loclPLK</string>
		<string>Nacute.loclPLK</string>
		<string>Oacute.loclPLK</string>
		<string>Sacute.loclPLK</string>
		<string>Zacute.loclPLK</string>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>abreveacute</string>
		<string>abrevedotbelow</string>
		<string>abrevegrave</string>
		<string>abrevehookabove</string>
		<string>abrevetilde</string>
		<string>acircumflex</string>
		<string>acircumflexacute</string>
		<string>acircumflexdotbelow</string>
		<string>acircumflexgrave</string>
		<string>acircumflexhookabove</string>
		<string>acircumflextilde</string>
		<string>adieresis</string>
		<string>adotbelow</string>
		<string>agrave</string>
		<string>ahookabove</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>aringacute</string>
		<string>atilde</string>
		<string>ae</string>
		<string>aeacute</string>
		<string>b</string>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>d</string>
		<string>eth</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>ddotbelow</string>
		<string>dz</string>
		<string>dzcaron</string>
		<string>e</string>
		<string>eacute</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>ecircumflexacute</string>
		<string>ecircumflexdotbelow</string>
		<string>ecircumflexgrave</string>
		<string>ecircumflexhookabove</string>
		<string>ecircumflextilde</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>edotbelow</string>
		<string>egrave</string>
		<string>ehookabove</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>etilde</string>
		<string>f</string>
		<string>g</string>
		<string>gbreve</string>
		<string>gcircumflex</string>
		<string>gcommaaccent</string>
		<string>gdotaccent</string>
		<string>h</string>
		<string>hbar</string>
		<string>hcircumflex</string>
		<string>hdotbelow</string>
		<string>i</string>
		<string>idotless</string>
		<string>iacute</string>
		<string>ibreve</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>idotaccent</string>
		<string>idotbelow</string>
		<string>igrave</string>
		<string>ihookabove</string>
		<string>ij</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>itilde</string>
		<string>j</string>
		<string>jdotless</string>
		<string>jcircumflex</string>
		<string>k</string>
		<string>kcommaaccent</string>
		<string>kgreenlandic</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>lcommaaccent</string>
		<string>ldot</string>
		<string>lj</string>
		<string>lslash</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>napostrophe</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>ndotaccent</string>
		<string>eng</string>
		<string>nj</string>
		<string>ntilde</string>
		<string>o</string>
		<string>oacute</string>
		<string>obreve</string>
		<string>ocircumflex</string>
		<string>ocircumflexacute</string>
		<string>ocircumflexdotbelow</string>
		<string>ocircumflexgrave</string>
		<string>ocircumflexhookabove</string>
		<string>ocircumflextilde</string>
		<string>odieresis</string>
		<string>odotbelow</string>
		<string>ograve</string>
		<string>ohookabove</string>
		<string>ohorn</string>
		<string>ohornacute</string>
		<string>ohorndotbelow</string>
		<string>ohorngrave</string>
		<string>ohornhookabove</string>
		<string>ohorntilde</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oogonek</string>
		<string>oslash</string>
		<string>oslashacute</string>
		<string>otilde</string>
		<string>oe</string>
		<string>p</string>
		<string>thorn</string>
		<string>q</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
		<string>rdotbelow</string>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scircumflex</string>
		<string>scommaaccent</string>
		<string>sdotbelow</string>
		<string>germandbls</string>
		<string>longs</string>
		<string>schwa</string>
		<string>t</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>tcedilla</string>
		<string>tcommaaccent</string>
		<string>tdotbelow</string>
		<string>u</string>
		<string>uacute</string>
		<string>ubreve</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>udotbelow</string>
		<string>ugrave</string>
		<string>uhookabove</string>
		<string>uhorn</string>
		<string>uhornacute</string>
		<string>uhorndotbelow</string>
		<string>uhorngrave</string>
		<string>uhornhookabove</string>
		<string>uhorntilde</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
		<string>v</string>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>x</string>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ydotbelow</string>
		<string>ygrave</string>
		<string>yhookabove</string>
		<string>ytilde</string>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>zdotbelow</string>
		<string>iacute_j.loclNLD</string>
		<string>y.loclGUA</string>
		<string>yacute.loclGUA</string>
		<string>ycircumflex.loclGUA</string>
		<string>ydieresis.loclGUA</string>
		<string>ydotbelow.loclGUA</string>
		<string>ygrave.loclGUA</string>
		<string>yhookabove.loclGUA</string>
		<string>ytilde.loclGUA</string>
		<string>cacute.loclPLK</string>
		<string>nacute.loclPLK</string>
		<string>oacute.loclPLK</string>
		<string>sacute.loclPLK</string>
		<string>zacute.loclPLK</string>
		<string>g.ss01</string>
		<string>gbreve.ss01</string>
		<string>gcircumflex.ss01</string>
		<string>gcommaaccent.ss01</string>
		<string>gdotaccent.ss01</string>
		<string>f_f</string>
		<string>fi</string>
		<string>fl</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>Delta</string>
		<string>Omega</string>
		<string>mu</string>
		<string>pi</string>
		<string>aShort-deva</string>
		<string>aCandra-deva</string>
		<string>a-deva</string>
		<string>aa-deva</string>
		<string>i-deva</string>
		<string>ii-deva</string>
		<string>ii_anusvara-deva</string>
		<string>u-deva</string>
		<string>uu-deva</string>
		<string>rVocalic-deva</string>
		<string>rrVocalic-deva</string>
		<string>lVocalic-deva</string>
		<string>llVocalic-deva</string>
		<string>eCandra-deva</string>
		<string>eShort-deva</string>
		<string>e-deva</string>
		<string>ai-deva</string>
		<string>oCandra-deva</string>
		<string>oShort-deva</string>
		<string>o-deva</string>
		<string>au-deva</string>
		<string>oe-deva</string>
		<string>ooe-deva</string>
		<string>aw-deva</string>
		<string>ue-deva</string>
		<string>uue-deva</string>
		<string>aaMatra-deva</string>
		<string>iMatra-deva</string>
		<string>iMatra_candraBindu-deva</string>
		<string>iMatra_reph-deva</string>
		<string>iMatra_reph_candraBindu-deva</string>
		<string>iMatra_reph_anusvara-deva</string>
		<string>iiMatra-deva</string>
		<string>iiMatra_candraBindu-deva</string>
		<string>iiMatra_anusvara-deva</string>
		<string>iiMatra_reph-deva</string>
		<string>iiMatra_reph_candraBindu-deva</string>
		<string>iiMatra_reph_anusvara-deva</string>
		<string>oCandraMatra-deva</string>
		<string>oCandraMatra_anusvara-deva</string>
		<string>oCandraMatra_reph-deva</string>
		<string>oCandraMatra_reph_anusvara-deva</string>
		<string>oShortMatra-deva</string>
		<string>oShortMatra_candraBindu-deva</string>
		<string>oShortMatra_anusvara-deva</string>
		<string>oShortMatra_reph-deva</string>
		<string>oShortMatra_reph_candraBindu-deva</string>
		<string>oShortMatra_reph_anusvara-deva</string>
		<string>oMatra-deva</string>
		<string>oMatra_candraBindu-deva</string>
		<string>oMatra_anusvara-deva</string>
		<string>oMatra_reph-deva</string>
		<string>oMatra_reph_candraBindu-deva</string>
		<string>oMatra_reph_anusvara-deva</string>
		<string>auMatra-deva</string>
		<string>auMatra_candraBindu-deva</string>
		<string>auMatra_anusvara-deva</string>
		<string>auMatra_reph-deva</string>
		<string>auMatra_reph_candraBindu-deva</string>
		<string>auMatra_reph_anusvara-deva</string>
		<string>prishthaMatraE-deva</string>
		<string>ooeMatra-deva</string>
		<string>awMatra-deva</string>
		<string>iiMatra-deva.0</string>
		<string>iiMatra_candraBindu-deva.0</string>
		<string>iiMatra_anusvara-deva.0</string>
		<string>iiMatra_reph-deva.0</string>
		<string>iiMatra_reph_candraBindu-deva.0</string>
		<string>iiMatra_reph_anusvara-deva.0</string>
		<string>iMatra-deva.00</string>
		<string>iMatra_candraBindu-deva.00</string>
		<string>iMatra_reph-deva.00</string>
		<string>iMatra_reph_candraBindu-deva.00</string>
		<string>iMatra_reph_anusvara-deva.00</string>
		<string>iMatra-deva.01</string>
		<string>iMatra-deva.02</string>
		<string>iMatra-deva.03</string>
		<string>iMatra-deva.04</string>
		<string>iMatra-deva.05</string>
		<string>iMatra-deva.06</string>
		<string>iMatra-deva.07</string>
		<string>iMatra-deva.08</string>
		<string>iMatra-deva.09</string>
		<string>iMatra-deva.10</string>
		<string>iMatra-deva.11</string>
		<string>iMatra-deva.12</string>
		<string>iMatra-deva.13</string>
		<string>iMatra-deva.14</string>
		<string>iMatra-deva.15</string>
		<string>iMatra-deva.16</string>
		<string>iMatra-deva.17</string>
		<string>iMatra-deva.18</string>
		<string>iMatra-deva.19</string>
		<string>iMatra-deva.20</string>
		<string>iMatra-deva.21</string>
		<string>iMatra-deva.22</string>
		<string>iMatra-deva.23</string>
		<string>iMatra-deva.24</string>
		<string>iMatra-deva.25</string>
		<string>iMatra-deva.26</string>
		<string>iMatra-deva.27</string>
		<string>iMatra_candraBindu-deva.01</string>
		<string>iMatra_candraBindu-deva.02</string>
		<string>iMatra_candraBindu-deva.03</string>
		<string>iMatra_candraBindu-deva.04</string>
		<string>iMatra_candraBindu-deva.05</string>
		<string>iMatra_candraBindu-deva.06</string>
		<string>iMatra_candraBindu-deva.07</string>
		<string>iMatra_candraBindu-deva.08</string>
		<string>iMatra_candraBindu-deva.09</string>
		<string>iMatra_candraBindu-deva.10</string>
		<string>iMatra_candraBindu-deva.11</string>
		<string>iMatra_candraBindu-deva.12</string>
		<string>iMatra_candraBindu-deva.13</string>
		<string>iMatra_candraBindu-deva.14</string>
		<string>iMatra_candraBindu-deva.15</string>
		<string>iMatra_candraBindu-deva.16</string>
		<string>iMatra_candraBindu-deva.17</string>
		<string>iMatra_candraBindu-deva.18</string>
		<string>iMatra_candraBindu-deva.19</string>
		<string>iMatra_candraBindu-deva.20</string>
		<string>iMatra_candraBindu-deva.21</string>
		<string>iMatra_candraBindu-deva.22</string>
		<string>iMatra_candraBindu-deva.23</string>
		<string>iMatra_candraBindu-deva.24</string>
		<string>iMatra_candraBindu-deva.25</string>
		<string>iMatra_candraBindu-deva.26</string>
		<string>iMatra_candraBindu-deva.27</string>
		<string>iMatra_reph-deva.01</string>
		<string>iMatra_reph-deva.02</string>
		<string>iMatra_reph-deva.03</string>
		<string>iMatra_reph-deva.04</string>
		<string>iMatra_reph-deva.05</string>
		<string>iMatra_reph-deva.06</string>
		<string>iMatra_reph-deva.07</string>
		<string>iMatra_reph-deva.08</string>
		<string>iMatra_reph-deva.09</string>
		<string>iMatra_reph-deva.10</string>
		<string>iMatra_reph-deva.11</string>
		<string>iMatra_reph-deva.12</string>
		<string>iMatra_reph-deva.13</string>
		<string>iMatra_reph-deva.14</string>
		<string>iMatra_reph-deva.15</string>
		<string>iMatra_reph-deva.16</string>
		<string>iMatra_reph-deva.17</string>
		<string>iMatra_reph-deva.18</string>
		<string>iMatra_reph-deva.19</string>
		<string>iMatra_reph-deva.20</string>
		<string>iMatra_reph-deva.21</string>
		<string>iMatra_reph-deva.22</string>
		<string>iMatra_reph-deva.23</string>
		<string>iMatra_reph-deva.24</string>
		<string>iMatra_reph-deva.25</string>
		<string>iMatra_reph-deva.26</string>
		<string>iMatra_reph-deva.27</string>
		<string>iMatra_reph_candraBindu-deva.01</string>
		<string>iMatra_reph_candraBindu-deva.02</string>
		<string>iMatra_reph_candraBindu-deva.03</string>
		<string>iMatra_reph_candraBindu-deva.04</string>
		<string>iMatra_reph_candraBindu-deva.05</string>
		<string>iMatra_reph_candraBindu-deva.06</string>
		<string>iMatra_reph_candraBindu-deva.07</string>
		<string>iMatra_reph_candraBindu-deva.08</string>
		<string>iMatra_reph_candraBindu-deva.09</string>
		<string>iMatra_reph_candraBindu-deva.10</string>
		<string>iMatra_reph_candraBindu-deva.11</string>
		<string>iMatra_reph_candraBindu-deva.12</string>
		<string>iMatra_reph_candraBindu-deva.13</string>
		<string>iMatra_reph_candraBindu-deva.14</string>
		<string>iMatra_reph_candraBindu-deva.15</string>
		<string>iMatra_reph_candraBindu-deva.16</string>
		<string>iMatra_reph_candraBindu-deva.17</string>
		<string>iMatra_reph_candraBindu-deva.18</string>
		<string>iMatra_reph_candraBindu-deva.19</string>
		<string>iMatra_reph_candraBindu-deva.20</string>
		<string>iMatra_reph_candraBindu-deva.21</string>
		<string>iMatra_reph_candraBindu-deva.22</string>
		<string>iMatra_reph_candraBindu-deva.23</string>
		<string>iMatra_reph_candraBindu-deva.24</string>
		<string>iMatra_reph_candraBindu-deva.25</string>
		<string>iMatra_reph_candraBindu-deva.26</string>
		<string>iMatra_reph_candraBindu-deva.27</string>
		<string>iMatra_reph_anusvara-deva.01</string>
		<string>iMatra_reph_anusvara-deva.02</string>
		<string>iMatra_reph_anusvara-deva.03</string>
		<string>iMatra_reph_anusvara-deva.04</string>
		<string>iMatra_reph_anusvara-deva.05</string>
		<string>iMatra_reph_anusvara-deva.06</string>
		<string>iMatra_reph_anusvara-deva.07</string>
		<string>iMatra_reph_anusvara-deva.08</string>
		<string>iMatra_reph_anusvara-deva.09</string>
		<string>iMatra_reph_anusvara-deva.10</string>
		<string>iMatra_reph_anusvara-deva.11</string>
		<string>iMatra_reph_anusvara-deva.12</string>
		<string>iMatra_reph_anusvara-deva.13</string>
		<string>iMatra_reph_anusvara-deva.14</string>
		<string>iMatra_reph_anusvara-deva.15</string>
		<string>iMatra_reph_anusvara-deva.16</string>
		<string>iMatra_reph_anusvara-deva.17</string>
		<string>iMatra_reph_anusvara-deva.18</string>
		<string>iMatra_reph_anusvara-deva.19</string>
		<string>iMatra_reph_anusvara-deva.20</string>
		<string>iMatra_reph_anusvara-deva.21</string>
		<string>iMatra_reph_anusvara-deva.22</string>
		<string>iMatra_reph_anusvara-deva.23</string>
		<string>iMatra_reph_anusvara-deva.24</string>
		<string>iMatra_reph_anusvara-deva.25</string>
		<string>iMatra_reph_anusvara-deva.26</string>
		<string>iMatra_reph_anusvara-deva.27</string>
		<string>ka-deva</string>
		<string>kha-deva</string>
		<string>ga-deva</string>
		<string>gha-deva</string>
		<string>nga-deva</string>
		<string>ca-deva</string>
		<string>cha-deva</string>
		<string>ja-deva</string>
		<string>jha-deva</string>
		<string>nya-deva</string>
		<string>tta-deva</string>
		<string>ttha-deva</string>
		<string>dda-deva</string>
		<string>dda-deva.MAW</string>
		<string>ddha-deva</string>
		<string>nna-deva</string>
		<string>ta-deva</string>
		<string>tha-deva</string>
		<string>da-deva</string>
		<string>dha-deva</string>
		<string>na-deva</string>
		<string>nnna-deva</string>
		<string>pa-deva</string>
		<string>pha-deva</string>
		<string>ba-deva</string>
		<string>bha-deva</string>
		<string>ma-deva</string>
		<string>ya-deva</string>
		<string>ra-deva</string>
		<string>rra-deva</string>
		<string>la-deva</string>
		<string>lla-deva</string>
		<string>llla-deva</string>
		<string>va-deva</string>
		<string>sha-deva</string>
		<string>ssa-deva</string>
		<string>sa-deva</string>
		<string>ha-deva</string>
		<string>qa-deva</string>
		<string>khha-deva</string>
		<string>ghha-deva</string>
		<string>za-deva</string>
		<string>dddha-deva</string>
		<string>rha-deva</string>
		<string>fa-deva</string>
		<string>yya-deva</string>
		<string>zha-deva</string>
		<string>jjya-deva</string>
		<string>gga-deva</string>
		<string>jja-deva</string>
		<string>ddda-deva</string>
		<string>bba-deva</string>
		<string>la-deva.loclMAR</string>
		<string>sha-deva.loclMAR</string>
		<string>jha-deva.loclNEP</string>
		<string>zha-deva.loclNEP</string>
		<string>k_ka-deva</string>
		<string>k_ta-deva</string>
		<string>k_ra-deva</string>
		<string>k_va-deva</string>
		<string>k_ssa-deva</string>
		<string>k_ss-deva</string>
		<string>k_ss_ra-deva</string>
		<string>k_ss_r-deva</string>
		<string>k_r-deva</string>
		<string>kh_na-deva</string>
		<string>kh_ra-deva</string>
		<string>kh_r-deva</string>
		<string>g_na-deva</string>
		<string>g_n-deva</string>
		<string>g_ra-deva</string>
		<string>g_r-deva</string>
		<string>gh_na-deva</string>
		<string>gh_n-deva</string>
		<string>gh_ra-deva</string>
		<string>gh_r-deva</string>
		<string>ng_ka-deva</string>
		<string>ng_k_ta-deva</string>
		<string>ng_k_ra-deva</string>
		<string>ng_k_ssa-deva</string>
		<string>ng_kha-deva</string>
		<string>ng_ga-deva</string>
		<string>ng_g_ra-deva</string>
		<string>ng_gha-deva</string>
		<string>ng_gh_ra-deva</string>
		<string>ng_ma-deva</string>
		<string>ng_ya-deva</string>
		<string>c_ch_va-deva</string>
		<string>c_ra-deva</string>
		<string>c_r-deva</string>
		<string>ch_na-deva</string>
		<string>ch_ya-deva</string>
		<string>ch_va-deva</string>
		<string>j_ja-deva</string>
		<string>j_j-deva</string>
		<string>j_nya-deva</string>
		<string>j_ny-deva</string>
		<string>j_ny_ra-deva</string>
		<string>j_ny_r-deva</string>
		<string>j_ra-deva</string>
		<string>j_r-deva</string>
		<string>jh_ra-deva</string>
		<string>jh_r-deva</string>
		<string>ny_ca-deva</string>
		<string>ny_c-deva</string>
		<string>ny_ja-deva</string>
		<string>ny_j-deva</string>
		<string>ny_ra-deva</string>
		<string>ny_r-deva</string>
		<string>tt_ja-deva</string>
		<string>tt_tta-deva</string>
		<string>tt_ttha-deva</string>
		<string>tt_ddha-deva</string>
		<string>tt_na-deva</string>
		<string>tt_ya-deva</string>
		<string>tt_va-deva</string>
		<string>tth_ttha-deva</string>
		<string>tth_na-deva</string>
		<string>tth_ya-deva</string>
		<string>tth_va-deva</string>
		<string>dd_gha-deva</string>
		<string>dd_tta-deva</string>
		<string>dd_dda-deva</string>
		<string>dd_ddha-deva</string>
		<string>dd_na-deva</string>
		<string>dd_ma-deva</string>
		<string>dd_ya-deva</string>
		<string>dd_va-deva</string>
		<string>ddh_ddha-deva</string>
		<string>ddh_na-deva</string>
		<string>ddh_ya-deva</string>
		<string>ddh_va-deva</string>
		<string>nn_ra-deva</string>
		<string>nn_r-deva</string>
		<string>t_ta-deva</string>
		<string>t_t-deva</string>
		<string>t_ra-deva</string>
		<string>t_r-deva</string>
		<string>th_ra-deva</string>
		<string>th_r-deva</string>
		<string>d_ga-deva</string>
		<string>d_g_ra-deva</string>
		<string>d_gha-deva</string>
		<string>d_gh_ya-deva</string>
		<string>d_gh_r_ya-deva</string>
		<string>d_da-deva</string>
		<string>d_d_ya-deva</string>
		<string>d_dha-deva</string>
		<string>d_dh_ya-deva</string>
		<string>d_dh_r_ya-deva</string>
		<string>d_na-deva</string>
		<string>d_ba-deva</string>
		<string>d_b_ra-deva</string>
		<string>d_bha-deva</string>
		<string>d_ma-deva</string>
		<string>d_m-deva</string>
		<string>d_ya-deva</string>
		<string>d_y-deva</string>
		<string>d_ra-deva</string>
		<string>d_va-deva</string>
		<string>d_v_ra-deva</string>
		<string>dh_ra-deva</string>
		<string>dh_r-deva</string>
		<string>n_na-deva</string>
		<string>n_n-deva</string>
		<string>n_ra-deva</string>
		<string>n_r-deva</string>
		<string>p_ta-deva</string>
		<string>p_na-deva</string>
		<string>p_n-deva</string>
		<string>p_ra-deva</string>
		<string>p_r-deva</string>
		<string>ph_ra-deva</string>
		<string>ph_r-deva</string>
		<string>b_ra-deva</string>
		<string>b_r-deva</string>
		<string>bh_ra-deva</string>
		<string>bh_r-deva</string>
		<string>m_ra-deva</string>
		<string>m_r-deva</string>
		<string>y_ra-deva</string>
		<string>y_r-deva</string>
		<string>ra_uMatra-deva</string>
		<string>ra_uuMatra-deva</string>
		<string>l_ra-deva</string>
		<string>l_r-deva</string>
		<string>ll_ya-deva</string>
		<string>v_ra-deva</string>
		<string>v_r-deva</string>
		<string>sh_rVocalic-deva</string>
		<string>sh_ca-deva</string>
		<string>sh_c-deva</string>
		<string>sh_na-deva</string>
		<string>sh_n-deva</string>
		<string>sh_ra-deva</string>
		<string>sh_la-deva</string>
		<string>sh_l-deva</string>
		<string>sh_va-deva</string>
		<string>sh_v-deva</string>
		<string>sh_r-deva</string>
		<string>ss_tta-deva</string>
		<string>ss_tt_ya-deva</string>
		<string>ss_tt_va-deva</string>
		<string>ss_ttha-deva</string>
		<string>ss_tth_ya-deva</string>
		<string>ss_tth_va-deva</string>
		<string>ss_ra-deva</string>
		<string>ss_r-deva</string>
		<string>s_t_ra-deva</string>
		<string>s_t_r-deva</string>
		<string>s_ra-deva</string>
		<string>s_r-deva</string>
		<string>ha_rVocalicMatra-deva</string>
		<string>ha_rrVocalicMatra-deva</string>
		<string>h_nna-deva</string>
		<string>h_na-deva</string>
		<string>h_ma-deva</string>
		<string>h_ya-deva</string>
		<string>h_ra-deva</string>
		<string>h_la-deva</string>
		<string>h_va-deva</string>
		<string>k_r-deva.001</string>
		<string>ph_r-deva.001</string>
		<string>k_r-deva.002</string>
		<string>ph_r-deva.002</string>
		<string>k_r-deva.003</string>
		<string>ph_r-deva.003</string>
		<string>k_r-deva.004</string>
		<string>ph_r-deva.004</string>
		<string>k_r-deva.005</string>
		<string>ph_r-deva.005</string>
		<string>k_la-deva.loclMAR</string>
		<string>c_la-deva.loclMAR</string>
		<string>ch_la-deva.loclMAR</string>
		<string>p_la-deva.loclMAR</string>
		<string>ph_la-deva.loclMAR</string>
		<string>l_la-deva.loclMAR</string>
		<string>sh_la-deva.loclMAR</string>
		<string>k_ra-deva.loclNEP</string>
		<string>y_ra-deva.post</string>
		<string>k-deva</string>
		<string>kh-deva</string>
		<string>g-deva</string>
		<string>gh-deva</string>
		<string>ng-deva</string>
		<string>c-deva</string>
		<string>ch-deva</string>
		<string>j-deva</string>
		<string>jh-deva</string>
		<string>ny-deva</string>
		<string>tt-deva</string>
		<string>tth-deva</string>
		<string>dd-deva</string>
		<string>ddh-deva</string>
		<string>nn-deva</string>
		<string>t-deva</string>
		<string>th-deva</string>
		<string>d-deva</string>
		<string>dh-deva</string>
		<string>n-deva</string>
		<string>p-deva</string>
		<string>ph-deva</string>
		<string>b-deva</string>
		<string>bh-deva</string>
		<string>m-deva</string>
		<string>y-deva</string>
		<string>rr-deva</string>
		<string>l-deva</string>
		<string>ll-deva</string>
		<string>v-deva</string>
		<string>sh-deva</string>
		<string>ss-deva</string>
		<string>s-deva</string>
		<string>h-deva</string>
		<string>k-deva.001</string>
		<string>ph-deva.001</string>
		<string>jh-deva.loclNEP.001</string>
		<string>k-deva.002</string>
		<string>ph-deva.002</string>
		<string>jh-deva.loclNEP.002</string>
		<string>k-deva.003</string>
		<string>ph-deva.003</string>
		<string>jh-deva.loclNEP.003</string>
		<string>k-deva.004</string>
		<string>ph-deva.004</string>
		<string>jh-deva.loclNEP.004</string>
		<string>k-deva.005</string>
		<string>ph-deva.005</string>
		<string>jh-deva.loclNEP.005</string>
		<string>y-deva.post.2</string>
		<string>y-deva.post.3</string>
		<string>y-deva.post.4</string>
		<string>y-deva.post.5</string>
		<string>l-deva.loclMAR</string>
		<string>sh-deva.loclMAR</string>
		<string>jh-deva.loclNEP</string>
		<string>y-deva.post</string>
		<string>l-deva.post.loclMAR</string>
		<string>ch-deva.post</string>
		<string>tt-deva.post</string>
		<string>tth-deva.post</string>
		<string>dd-deva.post</string>
		<string>ddh-deva.post</string>
		<string>d-deva.post</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>fraction</string>
		<string>onehalf</string>
		<string>onethird</string>
		<string>twothirds</string>
		<string>onequarter</string>
		<string>threequarters</string>
		<string>oneeighth</string>
		<string>onesuperior</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>zero-deva</string>
		<string>one-deva</string>
		<string>two-deva</string>
		<string>three-deva</string>
		<string>four-deva</string>
		<string>five-deva</string>
		<string>six-deva</string>
		<string>seven-deva</string>
		<string>eight-deva</string>
		<string>nine-deva</string>
		<string>five-deva.loclNEP</string>
		<string>eight-deva.loclNEP</string>
		<string>asterisk</string>
		<string>backslash</string>
		<string>periodcentered</string>
		<string>bullet</string>
		<string>colon</string>
		<string>comma</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>numbersign</string>
		<string>period</string>
		<string>question</string>
		<string>questiondown</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>semicolon</string>
		<string>slash</string>
		<string>underscore</string>
		<string>quotesingle.loclGUA</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>emdash</string>
		<string>endash</string>
		<string>hyphen</string>
		<string>softhyphen</string>
		<string>guillemetleft</string>
		<string>guillemetright</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>quotedblbase</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotesinglbase</string>
		<string>glottalstop-deva</string>
		<string>danda-deva</string>
		<string>dbldanda-deva</string>
		<string>abbreviation-deva</string>
		<string>highspacingdot-deva</string>
		<string>caret-deva</string>
		<string>headstroked-deva</string>
		<string>emspace</string>
		<string>enspace</string>
		<string>fourperemspace</string>
		<string>space</string>
		<string>nbspace</string>
		<string>threeperemspace</string>
		<string>zerowidthjoiner</string>
		<string>zerowidthnonjoiner</string>
		<string>CR</string>
		<string>.notdef</string>
		<string>cent</string>
		<string>currency</string>
		<string>dollar</string>
		<string>euro</string>
		<string>florin</string>
		<string>guarani</string>
		<string>rupeeIndian</string>
		<string>sterling</string>
		<string>yen</string>
		<string>Ohm</string>
		<string>approxequal</string>
		<string>asciitilde</string>
		<string>bulletoperator</string>
		<string>divide</string>
		<string>divisionslash</string>
		<string>equal</string>
		<string>greater</string>
		<string>greaterequal</string>
		<string>increment</string>
		<string>infinity</string>
		<string>integral</string>
		<string>less</string>
		<string>lessequal</string>
		<string>logicalnot</string>
		<string>micro</string>
		<string>minus</string>
		<string>multiply</string>
		<string>notequal</string>
		<string>partialdiff</string>
		<string>percent</string>
		<string>perthousand</string>
		<string>plus</string>
		<string>plusminus</string>
		<string>product</string>
		<string>radical</string>
		<string>summation</string>
		<string>upArrow</string>
		<string>rightArrow</string>
		<string>downArrow</string>
		<string>leftArrow</string>
		<string>dottedCircle</string>
		<string>lozenge</string>
		<string>bar</string>
		<string>brokenbar</string>
		<string>at</string>
		<string>ampersand</string>
		<string>paragraph</string>
		<string>copyright</string>
		<string>registered</string>
		<string>section</string>
		<string>trademark</string>
		<string>degree</string>
		<string>estimated</string>
		<string>literSign</string>
		<string>asciicircum</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>avagraha-deva</string>
		<string>om-deva</string>
		<string>pushpika-deva</string>
		<string>gapfiller-deva</string>
		<string>acutecomb</string>
		<string>brevecomb</string>
		<string>caroncomb</string>
		<string>cedillacomb</string>
		<string>circumflexcomb</string>
		<string>commaaccentcomb</string>
		<string>dieresiscomb</string>
		<string>dotaccentcomb</string>
		<string>dotbelowcomb</string>
		<string>gravecomb</string>
		<string>hookabovecomb</string>
		<string>hungarumlautcomb</string>
		<string>macroncomb</string>
		<string>ringcomb</string>
		<string>tildecomb</string>
		<string>horncomb</string>
		<string>hookabovecomb.alt</string>
		<string>apostrophemod</string>
		<string>firsttonechinese</string>
		<string>acute</string>
		<string>breve</string>
		<string>caron</string>
		<string>cedilla</string>
		<string>circumflex</string>
		<string>dieresis</string>
		<string>dotaccent</string>
		<string>grave</string>
		<string>hungarumlaut</string>
		<string>macron</string>
		<string>ogonek</string>
		<string>ring</string>
		<string>tilde</string>
		<string>caron.alt</string>
		<string>acute.loclPLK</string>
		<string>acute.alt</string>
		<string>breve.alt</string>
		<string>circumflex.alt</string>
		<string>grave.alt</string>
		<string>tilde.alt</string>
		<string>circumflex.alt2</string>
		<string>uMatra-deva</string>
		<string>uuMatra-deva</string>
		<string>rVocalicMatra-deva</string>
		<string>rrVocalicMatra-deva</string>
		<string>lVocalicMatra-deva</string>
		<string>llVocalicMatra-deva</string>
		<string>eCandraMatra-deva</string>
		<string>eCandraMatra_reph-deva</string>
		<string>candraBindu-deva</string>
		<string>invertedCandraBindu-deva</string>
		<string>eShortMatra-deva</string>
		<string>eShortMatra_candraBindu-deva</string>
		<string>eShortMatra_anusvara-deva</string>
		<string>eShortMatra_reph-deva</string>
		<string>eShortMatra_reph_candraBindu-deva</string>
		<string>eShortMatra_reph_anusvara-deva</string>
		<string>eMatra-deva</string>
		<string>eMatra_candraBindu-deva</string>
		<string>eMatra_anusvara-deva</string>
		<string>eMatra_reph-deva</string>
		<string>eMatra_reph_candraBindu-deva</string>
		<string>eMatra_reph_anusvara-deva</string>
		<string>aiMatra-deva</string>
		<string>aiMatra_candraBindu-deva</string>
		<string>aiMatra_anusvara-deva</string>
		<string>aiMatra_reph-deva</string>
		<string>aiMatra_reph_candraBindu-deva</string>
		<string>aiMatra_reph_anusvara-deva</string>
		<string>anusvara-deva</string>
		<string>halant-deva</string>
		<string>nukta-deva</string>
		<string>nukta_halant-deva</string>
		<string>nukta_rakar-deva</string>
		<string>nukta_rakar_uMatra-deva</string>
		<string>nukta_rakar_uuMatra-deva</string>
		<string>nukta_rakar_rVocalicMatra-deva</string>
		<string>nukta_rakar_rrVocalicMatra-deva</string>
		<string>nukta_rakar_lVocalicMatra-deva</string>
		<string>nukta_rakar_llVocalicMatra-deva</string>
		<string>reph-deva</string>
		<string>reph_candraBindu-deva</string>
		<string>reph_anusvara-deva</string>
		<string>rakar-deva</string>
		<string>rakar_uMatra-deva</string>
		<string>rakar_uuMatra-deva</string>
		<string>rakar_rVocalicMatra-deva</string>
		<string>rakar_rrVocalicMatra-deva</string>
		<string>rakar_lVocalicMatra-deva</string>
		<string>rakar_llVocalicMatra-deva</string>
		<string>eLongCandra-deva</string>
		<string>oeMatra-deva</string>
		<string>ueMatra-deva</string>
		<string>uueMatra-deva</string>
		<string>udatta-deva</string>
		<string>anudatta-deva</string>
		<string>grave-deva</string>
		<string>acute-deva</string>
		<string>combiningA-deva</string>
		<string>combiningU-deva</string>
		<string>combiningKa-deva</string>
		<string>combiningNa-deva</string>
		<string>combiningPa-deva</string>
		<string>combiningRa-deva</string>
		<string>combiningVi-deva</string>
		<string>combiningAvagraha-deva</string>
		<string>combiningZero-deva</string>
		<string>combiningOne-deva</string>
		<string>combiningTwo-deva</string>
		<string>combiningThree-deva</string>
		<string>combiningFour-deva</string>
		<string>combiningFive-deva</string>
		<string>combiningSix-deva</string>
		<string>combiningSeven-deva</string>
		<string>combiningEight-deva</string>
		<string>combiningNine-deva</string>
		<string>reph-deva.imatra</string>
		<string>candraBindu-deva.imatra</string>
		<string>reph_candraBindu-deva.imatra</string>
		<string>reph_anusvara-deva.imatra</string>
		<string>eShortMatra-deva.pre</string>
		<string>visarga-deva</string>
		<string>spacingCandraBindu-deva</string>
		<string>candraBinduHalant-deva</string>
		<string>dblcandraBinduHalant-deva</string>
		<string>candraBinduTwo-deva</string>
		<string>candraBinduThree-deva</string>
		<string>candraBinduAvagraha-deva</string>
		<string>r-deva.loclMAR</string>
		<string>NULL</string>
		<string>baraccent</string>
		<string>baraccentlong</string>
		<string>baraccentmedium</string>
		<string>commaaccentinvert</string>
		<string>stem-deva</string>
		<string>colon-deva</string>
		<string>comma-deva</string>
		<string>exclam-deva</string>
		<string>question-deva</string>
		<string>semicolon-deva</string>
		<string>braceleft-deva</string>
		<string>braceright-deva</string>
		<string>bracketleft-deva</string>
		<string>bracketright-deva</string>
		<string>parenleft-deva</string>
		<string>parenright-deva</string>
		<string>endash-deva</string>
		<string>hyphen-deva</string>
		<string>guilsinglleft-deva</string>
		<string>guilsinglright-deva</string>
		<string>quotedblleft-deva</string>
		<string>quotedblright-deva</string>
		<string>quoteleft-deva</string>
		<string>quoteright-deva</string>
		<string>quotesinglbase-deva</string>
		<string>onehalf-deva</string>
		<string>onethird-deva</string>
		<string>twothirds-deva</string>
		<string>onequarter-deva</string>
		<string>threequarters-deva</string>
		<string>oneeighth-deva</string>
		<string>oneeighth-deva.loclNEP</string>
		<string>uni1CF5</string>
		<string>uni1CF6</string>
		<string>uni1CDA</string>
		<string>uni1CDB</string>
	</array>
</dict>
</plist>
