<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Make morx table</key>
	<true/>
	<key>ascender</key>
	<integer>2349</integer>
	<key>capHeight</key>
	<integer>1243</integer>
	<key>copyright</key>
	<string>Copyright (c) 2011-2015, Omnibus-Type (www.omnibus-type.com omnibus.type@gmail.com) with Reserved Font Name 'Jaldi' and 'Asap'</string>
	<key>descender</key>
	<integer>-1094</integer>
	<key>description</key>
	<string>Jaldi is the devanagari version of Asap
wich is based on Ancha (designed by Pablo Cosgaya &amp; Hector Gatti). This family
specially developed for screen and desktop use
offers of a standarised character width on all styles
which helps retain the same length on all text lines. </string>
	<key>familyName</key>
	<string>Jaldi</string>
	<key>fsType</key>
	<array>
	</array>
	<key>openTypeHeadCreated</key>
	<string>2015/04/13 14:50:13</string>
	<key>openTypeHheaAscender</key>
	<integer>2350</integer>
	<key>openTypeHheaDescender</key>
	<integer>-1111</integer>
	<key>openTypeHheaLineGap</key>
	<integer>0</integer>
	<key>openTypeNameDescription</key>
	<string>Jaldi is the devanagari version of Asap
wich is based on Ancha (designed by Pablo Cosgaya &amp; Hector Gatti). This family
specially developed for screen and desktop use
offers of a standarised character width on all styles
which helps retain the same length on all text lines. </string>
	<key>openTypeNameDesigner</key>
	<string>Pablo Cosgaya and Nicolas Silva</string>
	<key>openTypeNameDesignerURL</key>
	<string>http://www.omnibus-type.com</string>
	<key>openTypeNameLicense</key>
	<string>This Font Software is licensed under the SIL Open Font License, Version 1.1. </string>
	<key>openTypeNameLicenseURL</key>
	<string>http://scripts.sil.org/OFL</string>
	<key>openTypeNameManufacturer</key>
	<string>Omnibus-Type</string>
	<key>openTypeNameManufacturerURL</key>
	<string>http://www.omnibus-type.com</string>
	<key>openTypeNamePreferredFamilyName</key>
	<string>Jaldi</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>Regular</string>
	<key>openTypeOS2TypoAscender</key>
	<integer>2350</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>-1111</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>0</integer>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>2350</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>1111</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-16</integer>
		<integer>0</integer>
		<integer>930</integer>
		<integer>944</integer>
		<integer>1245</integer>
		<integer>1259</integer>
		<integer>1337</integer>
		<integer>1351</integer>
	</array>
	<key>postscriptFamilyBlues</key>
	<array>
		<integer>-17</integer>
		<integer>0</integer>
		<integer>930</integer>
		<integer>945</integer>
		<integer>1245</integer>
		<integer>1260</integer>
	</array>
	<key>postscriptFamilyOtherBlues</key>
	<array>
	</array>
	<key>postscriptOtherBlues</key>
	<array>
		<integer>-420</integer>
		<integer>-406</integer>
		<integer>-377</integer>
		<integer>-371</integer>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>119</integer>
		<integer>135</integer>
		<integer>127</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>137</integer>
		<integer>149</integer>
		<integer>155</integer>
		<integer>162</integer>
	</array>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>Regular</string>
	<key>trademark</key>
	<string>Jaldi is a trademark of Omnibus-Type.</string>
	<key>unitsPerEm</key>
	<integer>2048</integer>
	<key>vendorID</key>
	<string>OMNI</string>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>5</integer>
	<key>xHeight</key>
	<integer>930</integer>
</dict>
</plist>
